<div class="jumbotron">
<h1>My To-Do List</h1>
</div>
<div class="col-md-8">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Task</th>
      <th>Description</th>
      <th>Expires In</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <%= form_tag("/todos/complete/", :method => "post") do %>
    <% @todos.each do |todo| %>
      <tr>
        <% if todo.completed == true %>
        <td style="color:grey;"><%= check_box_tag "todos_checkbox[]", todo.id %><strike><%= todo.title %></strike></td>
        <% else %>
          <td><%= check_box_tag "todos_checkbox[]", todo.id %><%= todo.title %></td>
          <% end %>
        <td><%= todo.description %></td>
        <td><%= distance_of_time_in_words_to_now(todo.countdown) %>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Delete', todo, method: :delete, data: { confirm: 'Remove task from To-do list?' } %></td>
      </tr>
    <% end %>
    <%= submit_tag("Update List", class: 'btn btn-success') %>
    <% end %>
  </tbody>
</table>
</div>

<div class="col-md-4">
<%= link_to 'New Task', new_todo_path, class: 'btn btn-primary' %>
</div>